body{
    margin: 0;
}

 
 .p-3{
     height:12em ;
     width: auto;
      background-size: cover; 
      background-repeat: no-repeat;
     
     }

      h5{
          color: aliceblue;
      }
  


     
 
 .input-group {
     top: 1vh;
 }
 video{
     object-fit: fill;
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: -1;
 }


@keyframes example {
    0% {width:10vw;height: 1vh;}
    100% {width: 90vw;height:7vh ;}
  }
  
  
  .input-group{
   
    
    animation-name: example;
    animation-duration: 5s;

    }